@import "tailwindcss";
@tailwind utilities;
:root {
  font-family: Yaro, sans-serif;
  line-height: 1.5;
  font-weight: 400;
    height: 100%;
    width: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
    margin-bottom: 1rem;
  background-color: #242424;
    overflow: clip;
    scrollbar-color: #fe7c25 transparent;
    scrollbar-width: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
    overflow-x: hidden;
    min-height: 100vh;
    max-width: 100%;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#different{
    font-family: "Times New Roman" !important;
}



@theme {
    --color-shnp-orange:#fe7c25;
    --color-shnp-orange-light:#FFE0C8FF;
}
.custom-font-times {
    font-family: "Arial Black" !important;
}
.custom-font-reg {
    font-family: "Arial" !important;
}
@font-face {
    font-family: "Yaro";
    src: local("Yaro"), url("Fonts/Yaro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"DINar";
    src: local("DINar"), url("Fonts/DINar.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:lang(en){
    font-family: Yaro, sans-serif,Serif,monospace;
}
:lang(ar){
    font-family:DINar,cairo, sans-serif,monospace;
}

*:focus {
    outline: none !important;

}
.cont .react-tel-input .form-control{
    display: flex;


}
.react-tel-input .form-control {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px !important;
}
.separator-divider::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 60%;
    background-color: #e5e7eb;
}

a {
  font-weight: 500;
  color: #fe7c25;
  text-decoration: none;
}
a:hover {
  color: #fe7c25;
}

body {
  margin: 0;
  display: flex;
    align-items: center;
  place-items: center;
  min-width: 780px;
    min-height: fit-content;
    max-width: 2560px;
    max-height:1740px ;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {

  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.typewriter {
    overflow: hidden;
    font-size: 1em;
    text-align: left;
    width:90%;

    white-space: nowrap;
    border-right: .15em solid #fe7c25;
    margin: 0 auto;
    letter-spacing: .001em;
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;}

.typewriter p {
    display: inline-block;
    height:80px;
    overflow: hidden;
    white-space: pre-wrap;
}

.inputst{
    border-radius:10px ;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}
button:hover {
  border-color: #fe7c25;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;

}


.rtl .text-left {
    text-align: right !important;
}

.rtl .ps-4 {
    padding-right: 1rem !important;
    padding-left: 0 !important;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}

